<div class="card-header">
  <h2>Con Aplazame puedes comprar ahora<br/>y pagar después.</h2>
</div>
<div class="card-content content-padding">
  <p>Elige los meses y la cuota que mejor que convenga.<br/>Aplazame es muy fácil de usar.</p>

  <ul class="styled">
    <li>Ofrecemos la financiación al consumo más barata de España.</li>
    <li>Sin costes ocultos ni letra pequeña.</li>
    <li>Tomamos la decisión de manera instantánea, sin papeleos ni esperas.</li>
    <li>Disponible para compras superiores a <%= creditThreshold %> €.</li>
    <li>¿Tienes alguna duda? Llámanos al 91 290 89 23 o escríbenos un email a <a class="link" href="mailto:hola@aplazame.com">hola@aplazame.com</a>.</li>
  </ul>
</div>
<div class="cta">
  <button type="submit" class="button" modal-resolve="ok">
    <span class="cta-title">Entendido</span>
  </button>
</div>
