<div class="card-content">

  <header class="aplazame"></header>

  <section class="info">
    Elige el número de meses y la cuota que más te convengan
  </section>

  <div class="choices-wrapper">
    <% for( var i = choices.length - 1 ; i >= 0 ; i-- ) { %>
    <button ng-repeat="choice in choices" type="button" class="choice" ng-click="selectChoice(choice)" ng-class="{ active: choice === currentChoice }">
      <div class="wrapper">
        <div class="num-instalments">
          <span><%= choices[i].num_instalments %></span>&nbsp;<span><%= months(choices[i].num_instalments) %></span>
        </div>
        <div class="amount"><!--
          <% if( currency === 'EUR' )  { %>
          --><span class="amount-amount"><%= getAmount(choices[i].amount, ',', '.') %></span><!--
          --><span class="amount-currency">€</span><!--
          <% } else { %>
          --><span class="amount-currency">$</span><!--
          --><span class="amount-amount"><%= getAmount(choices[i].amount, '.', ',') %></span><!--
          <% } %>
          --><span class="amount-per-month">/mes</span></div>
      </div>
    </button>
    <% } %>
  </div>

  <section class="tae"><%= country === 'MX' ? 'CAT' : 'TAE' %> máximo: <%= getAmount(choices[0].annual_equivalent) %>%</section>

  <section class="how-it-works">
    <header>¿Cómo funciona?</header>
    <div class="info-wrapper">
      <div class="info">
        <h3>Elige Aplazame</h3>
        <p>en la tienda, cuando vayas a pagar el pedido.</p>
      </div>
      <div class="info">
        <h3>Decide cómo quieres pagar</h3>
        <p>Hasta en <%= selectedChoice.num_instalments %> <%= selectedChoice.num_instalments > 1 ? 'cuotas' : 'cuota' %>, pagando con tarjeta.</p>
      </div>
      <div class="info">
        <h3>Disfruta de tu compra</h3>
        <p>Desde Aplazame estaremos disponibles por si necesitas cualquier cosa. ¡A disfrutar!</p>
      </div>
    </div>
  </section>

</div>

<div class="cta">
  <div class="col-sm-6 button-wrapper">
    <button class="btn lg btn-block white" type="button" data-modal="dismiss">Volver a Tienda</button>
  </div>
  <div class="col-sm-6 button-wrapper">
    <a class="btn lg btn-block" href="http://aplazame.com/how/customers/" target="_blank">¿Quieres saber más?</a>
  </div>
</div>
