<div class="modal">

<div class="card size-lg has-cta modal-instalments-info">
  <div class="card-content">

    <header class="aplazame"></header>

    <section class="info">
      Elige el número de meses y la cuota que más te convengan
    </section>

    <div class="choices-wrapper">
      <% for( var i = choices.length - 1 ; i >= 0 ; i-- ) { %>
      <button ng-repeat="choice in choices" type="button" class="choice" ng-click="selectChoice(choice)" ng-class="{ active: choice === currentChoice }">
        <div class="wrapper">
          <div class="num-instalments">
            <span><%= choices[i].num_instalments %></span>&nbsp;<span><%= months(choices[i].num_instalments) %></span>
          </div>
          <div class="amount">
            <span class="amount-amount"><%= getAmount(choices[i].amount) %></span><!--
            --><span class="amount-currency">€</span><!--
            --><span class="amount-per-month">/mes</span></div>
        </div>
      </button>
      <% } %>
    </div>

    <section class="tae">TAE máximo: <%= getAmount(choices[0].annual_equivalent) %>%</section>

    <section class="how-it-works">
      <header>¿Cómo funciona?</header>
      <div class="info-wrapper">
        <div class="info">
          <h3>Elige Aplazame</h3>
          <p>en la tienda, cuando vayas a pagar el pedido.</p>
        </div>
        <div class="info">
          <h3>Decide cómo quieres pagar</h3>
          <p>Hasta en 12 cuotas, pagando con tarjeta.</p>
        </div>
        <div class="info">
          <h3>Disfruta de tu compra</h3>
          <p>Desde Aplazame estaremos disponibles por si necesitas cualquier cosa. ¡A disfrutar!</p>
        </div>
      </div>
    </section>

  </div>

  <div class="cta btn-double size-sm">
    <div class="button-wrapper">
      <button class="button btn-white" type="submit" modal-reject="back">
        <span class="cta-title">Volver a Tienda</span>
      </button>
    </div>
    <div class="button-wrapper">
      <a class="button" href="http://aplazame.com/how/" target="_blank">
        <span class="cta-title">¿Quieres saber más?</span>
      </a>
    </div>
  </div>

</div>

</div>
