<div class="aplazame-widget-instalments">

  <span class="aplazame-widget-from">desde&nbsp;</span><!--

  --><strong class="aplazame-widget-amount"><!--
    <% if( currency === 'EUR' ) { %>
    --><span class="aplazame-widget-price"><%= getAmount(choice.amount, ',', '.') %></span><!--
    --><span class="aplazame-widget-currency">€</span><!--
    <% } else { %>
    --><span class="aplazame-widget-currency">$</span><!--
    --><span class="aplazame-widget-price"><%= getAmount(choice.amount, '.', ',') %></span><!--
    <% } %>
  --></strong><!--

  --><sub class="aplazame-widget-per-month">/mes</sub><!--

  --><span class="aplazame-widget-instalments-wrapper">
    <span>&nbsp;en&nbsp;</span>
    <em class="aplazame-widget-instalments-num"><%= choice.num_instalments %></em>
    <span>&nbsp;<%= choice.num_instalments === 1 ? 'cuota' : 'cuotas' %></span>
  </span>

</div>

<style rel="stylesheet"><%= options.widget.styles %></style>
