<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <script type="text/javascript">
      var choices = [];
      // choices = []; // this is replaced with real data
      var choice = choices.reduce(function (prev, choice) {
        if( choice === null ) {
          return choice;
        } else {
          return choice.num_instalments > prev.num_instalments ? choice : prev;
        }
      }, null) || { num_instalments: 12, amount: 1080 };
    </script>
    <div id="main"></div>

    <script type="application/x-template" data-template="info">
        <div>Financia con Aplazame en <a href="#" data-action="showChoices"><%= num_instalments %></a> cuotas de <%= amount %>.</div>
    </script>
    <script type="application/x-template" data-template="choices">
        <% for( var i = 0, len = choices.length ; i < len ; i++ ) { %>
          <button type="button" data-action="showChoices" data-choice="<%= i %>"><%= choices[i].num_instalments %></button>
        <% } %>
    </script>
    <script type="text/javascript">
      function template (name, data){
        return template.cache[name](data);
      };
      template.cache = {};
      template.put = function (name, tmpl) {
        // John Resig micro-template
        template.cache[name] = new Function("obj",
          "var p=[],print=function(){p.push.apply(p,arguments);};" +

          // Introduce the data as local variables using with(){}
          "with(obj){p.push('" +

          // Convert the template into pure JavaScript
          tmpl.trim()
            .replace(/[\r\t\n]/g, " ")
            .split("<%").join("\t")
            .replace(/((^|%>)[^\t]*)'/g, "$1\r")
            .replace(/\t=(.*?)%>/g, "',$1,'")
            .split("\t").join("');")
            .split("%>").join("p.push('")
            .split("\r").join("\\'")
        + "');}return p.join('');");
      };
      [].forEach.call(document.querySelectorAll('script[type="application/x-template"][data-template]'), function (tmpl) {
        template.put(tmpl.getAttribute('data-template'), tmpl.text);
      });

      var listen = window.addEventListener ? function (element, eventName, listener) {
        element.addEventListener(eventName, listener, false);
      } : ( window.attachEvent && function (element, eventName, listener) {
        element.attachEvent('on' + eventName, listener);
      } );
      if( !listen ) {
        throw new Error('Your Browser does not support events');
      }

      (function () {
        var main = document.getElementById('main');

        function showText () {
          main.innerHTML = template('info', choice);
        }

        function showChoices () {
          main.innerHTML = template('choices', { choices: choices });
        }

        listen(main, 'click', function (e) {
          var action = e.target.getAttribute('data-action');
          if( action !== undefined ) {
            e.preventDefault();
          }

          switch( action ) {
            case 'showChoices':
              showChoices();
              break;
            case 'selectChoice':
              choice = choices[ Number(e.target.getAttribute('data-choice')) ];
              showText();
              break;
          }
        });

        showText();

      })();
    </script>
  </body>
</html>
