
// @import url('https://fonts.googleapis.com/css?family=Montserrat:400,700')

$path-fonts: '../assets/fonts'
$path-images: '../assets/images'

@import 'ng-aplazame/styles/core'

html
  font-size: $rem-size

body
  overflow: hidden
  padding: 4px

// widget styles

.aplazame-widget-button

  &.align-left
    text-align: left

  &.align-center
    text-align: center

  &.align-right
    text-align: right

  &.align-fill button
    width: 100%

  button
    position: relative
    z-index: 0
    display: inline-flex
    justify-content: center
    align-items: center

    @include font(12)
    padding: 0 units(1)
    min-height: units(4)
    flex-wrap: nowrap

    &:hover
      position: relative
      @include before()
        @include absolute(fill)
        background: rgba(black, 0.015)
        z-index: 0

    &:active
      position: relative
      @include before()
        @include absolute(fill)
        background: rgba(black, 0.02)
        z-index: 0

    &.medium
      &:hover::before
        background: rgba(black, 0.1)
      &:active::before
        background: rgba(black, 0.2)

    &.dark
      &:hover::before
        background: rgba(white, 0.08)
      &:active::before
        background: rgba(white, 0.12)

    border-radius: px2rem(3)
    box-shadow: 0 1px 3px rgba(black, 0.24)

    cursor: pointer

    > .text-wrapper
      flex: 1

    > .text-wrapper, > .logo
      position: relative
      z-index: 1

    > .logo
      width: units(5)
      height: units(4)
      padding: units(0.8)
      margin-left: -#{units(1)}

      svg
        max-width: 100%
        max-height: 100%
        // fill: $widget-text

    .amount
      font-weight: normal

    .per-month
      vertical-align: baseline
