<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="simulator.css?v=${pkg.version}" />

    <link rel="stylesheet" type="text/css" href="../assets/fonts/font-gotham.css" />
  </head>
  <body>
    <div class="text-center">
      <div id="main"></div>
    </div>

    <script type="application/x-template" data-template="widget">
        <div class="widget-item-instalments default">
          <div class="wrapper">
            <button class="button" data-action="changeInstalments">
              <div class="logo"></div>
              <div class="text-wrapper">
                <div class="text-get">Consíguelo desde</div>
                <div class="text-amount">
                  <span class="amount"><%= getAmount(choice.amount) %></span><!--
                  --><span class="currency">&nbsp;€</span><!--
                  --><span class="per-month">/mes</div>
                <div class="text-instalments">en 12 mensualidades</div>
              </div>
            </button>
            <div class="signature">
              <a data-action="changeInstalments">Más información</a><!--
              --><span>&nbsp;sobre Aplazame.</span>
            </div>
          </div>
        </div>
    </script>
    <script type="application/x-template" data-template="choices">
      <div>Elige el número de cuotas</div>
      <% for( var i = 0, len = choices.length ; i < len ; i++ ) { %>
        <button type="button" data-action="selectChoice" data-choice="<%= i %>" class="<%= (choices[i] === selectedChoice ? 'active' : '') %>"><%= choices[i].num_instalments %></button>
      <% } %>
    </script>
    <script type="text/javascript" src="simulator.js?v=${pkg.version}"></script>
  </body>
</html>
