
// @import url('https://fonts.googleapis.com/css?family=Montserrat:400,700')

$path-fonts: '../assets/fonts'
$path-images: '../assets/images'

@import 'ng-aplazame/styles/core'

html
  font-size: $rem-size

body
  overflow: hidden
  padding: 4px

#main.loading
  opacity: 0.5

@import 'ng-aplazame/styles/components/widget-button'
