
// https://github.com/ampproject/amphtml/issues/11133

.aplazame-modal
  // height: 100%
  // min-height: 100vh
  position: relative
  z-index: 2147483647

  height: 0

  &._is-ready
    // from: https://github.com/ampproject/amphtml/issues/11133
    height: 0;
    max-height: 100%;
    max-width: 100%;
    min-height: 100%;
    min-width: 100%;
    width: 0;

@media (max-width: 600px)
  html
    background-color: #333A3E
  html, body
    height: 100vh
    margin: 0
    padding: 0
  body > *:not(.aplazame-modal)
    display: none

  body
    overflow-y: auto
    overflow-x: hidden
  // iframe.aplazame-modal
  //   position: absolute

@media (min-width: 601px)
  body
    overflow: hidden

  .aplazame-modal
    position: fixed
