
@keyframes aplazame-overlay
  0%
    opacity: 0
  100%
    opacity: 1

.aplazame-overlay
  font-family: 'Montserrat', sans-serif
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
  width: 100%
  height: 100%
  width: 100vw
  height: 100vh
  background: rgba(53, 64, 71, 0.8)
  text-align: center
  z-index: 2147483646
  transform: translateZ(0)

.aplazame-overlay::before
  content: ''
  display: block
  height: 50vh

.aplazame-logo-wrapper
  display: inline-block
  margin-top: -50%

.aplazame-overlay-loading-text
  color: #95A6B1
  margin-top: 14px
  font-size: 14px

  .text-error
    color: lightcoral

  a
    color: whitesmoke
    display: inline-block
    text-decoration: none
    &:hover
      border-bottom: 1px dotted whitesmoke


.aplazame-overlay
  animation-fill-mode: forwards

  &.aplazame-overlay-show
    transform: translate3d(0,0,0)
    animation-duration: 0.6s
    animation-name: aplazame-overlay
    // opacity: 1

  &.aplazame-overlay-hide
    transform: translate3d(0,0,0)
    animation-duration: 0.6s
    animation-name: aplazame-overlay
    animation-direction: reverse
    // opacity: 0

.aplazame-checkout-flag
  display: flex
  justify-content: center
  align-items: center
  flex-flow: column
  position: fixed
  bottom: 0
  left: 0
  width: 100%
  padding-bottom: 30px
  z-index: 2147483647

  animation-duration: 0.3s
  animation-name: aplazame-overlay

  svg
    width: 24px
    height: 16px

  .label
    margin: 16px 0 0
    padding: 0
    color: white
    font-family: sans-serif
    font-weight: normal
    font-size: 14px
    text-shadow: 0 1px 3px rgba(black, 0.5)
    line-height: 1
