
$path-fonts: '../assets/fonts'


@import 'sasslets-animate/styles/animate'

$timing-function-boing: cubic-bezier(.66,-0.33,.3,1.29)

@include animate('shake')
@include animate('zoom-in', 0.6s, $timing-function-boing )
@include animate('zoom-out', 0.6s, $timing-function-boing )

@import 'ng-aplazame/styles/core'
@import 'ng-aplazame/styles/components/modal'
@import 'ng-aplazame/styles/components/lists'

html
  font-size: $rem-size

body
  font-size: 1.2rem
  // overflow: hidden
  display: block

// body
//   height: 100%


// @keyframes body-background
//   0%
//     background: rgba(53, 64, 71, 0)
//   100%
//     background: rgba(53, 64, 71, 0.9)
//
// @keyframes body-background-out
//   0%
//     background: rgba(53, 64, 71, 0.9)
//   100%
//     background: rgba(53, 64, 71, 0)
//
// @keyframes zoom-in
// 	0%
// 		opacity: 0
// 		transform: scale3d(.3, .3, .3)
// 	100%
// 		opacity: 1
//
// @keyframes zoom-out
// 	0%
// 		opacity: 1
//
// 	100%
// 		opacity: 0
// 		transform: scale3d(.3, .3, .3)
//
// $animation-duration: 0.6s
//
// ::selection
//   background: #3e8bc2 // WebKit/Blink Browsers
//   color: white
//
// ::-moz-selection
//   background: #3e8bc2 // Gecko Browsers
//   color: white
//
// *
//   border: 0
//   font: inherit
//   vertical-align: baseline
//   text-rendering: optimizeLegibility
//   -webkit-font-smoothing: antialiased
//   box-sizing: border-box
//
// html
//   font-size: 62.5%
//   height: 100%
//   line-height: 1
//
// body
//   display: block
//   animation-fill-mode: both
//   animation-duration: $animation-duration
//   animation-timing-function: ease
//
//   &.shown
//     animation-name: body-background
//
//   &.closing
//     animation-name: body-background-out
//
//   background: rgba(53, 64, 71, 0.9)
//   color: #858E93
//   font-size: 1.6rem
//   font-family: "GothamBookRegular", "Helvetica Neue", "Helvetica", sans-serif
//   font-weight: normal
//
// p
//   margin-bottom: 1rem
//   line-height: 1.5
//
// ul
//   padding-left: 2rem
//   line-height: 1.5
//
//   li
//     margin-bottom: 0.5em
//
// .canvas
//   opacity: 1
//   z-index: 1
//   display: block
//   position: absolute
//   top: 0
//   right: 0
//   bottom: 0
//   left: 0
//   text-align: center
//   width: 100%
//   height: 100%
//   overflow-y: scroll
//   overflow-x: hidden
//   -webkit-overflow-scrolling: touch
//   perspective: 1200px
//
//   &:before
//     content: ''
//     width: 1px
//     height: 100%
//     display:inline-block
//     vertical-align:middle
//
//   .container
//     position: relative
//     vertical-align: middle
//     display: inline-block
//     z-index: 2
//     // margin: 0 auto
//     // padding: 3.2rem 0
//
//     .box
//       position: relative
//       font-size: 1.6rem
//       animation-fill-mode: both
//       animation-duration: $animation-duration
//       animation-timing-function: cubic-bezier(.66,-0.33,.3,1.29)
//
//       body.shown &
//         animation-name: zoom-in
//
//       body.closing &
//         animation-name: zoom-out
//
//       width: 48.0rem
//       border-radius: .6rem .6rem .6rem .6rem
//       background: #fff
//       box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.16)
//       text-align: left
//       padding: 3rem 2.4rem
//
// .img-wrapper
//   text-align: center
//
// .box-title
//   text-align: center
//   color: #2b83c2
//   font-size: 1.6rem
//   font-weight: bold
//   margin: 3rem 0 2rem 0
//
// .close-checkout
//   z-index: 50
//   position: fixed
//   right: 1.6rem
//   top: 1.6rem
//
//   a
//     border: 1px solid #fff
//     color: #fff
//     display: block
//     // font-family: 'GothamMedium'
//     font-size: 1.2rem
//     padding: 0.8rem 1.2rem 1rem 1.2rem
//     text-align: left
//     text-transform: uppercase
//     border-radius: 3rem
//     text-decoration: none
//     span
//       display: inline-block
