
$path-fonts: '../assets/fonts'
$path-images: '../assets/images'

@import 'ng-aplazame/styles/core'
@import 'ng-aplazame/styles/animations'
@include animate('shake')

@import 'ng-aplazame/styles/components/modal'
@import 'ng-aplazame/styles/components/lists'
@import 'ng-aplazame/styles/components/modal-instalments-list'

body
  display: block

a
  text-decoration: none
