
$path-fonts: '../assets/fonts'
$path-images: '../assets/images'

@import 'ng-aplazame/styles/core'
@import 'ng-aplazame/styles/animations'
@include animate('shake')

@import 'ng-aplazame/styles/components/modal'
@import 'ng-aplazame/styles/components/lists'
// @import 'ng-aplazame/styles/components/modal-instalments-list'
@import 'ng-aplazame/styles/components/modal-instalments-info'

html
  font-size: $rem-size
  @media (max-width: 600px)
    background-color: #333A3E

body
  display: block

a
  text-decoration: none
