<html>
<head>
  <meta charset="utf-8">
  <title>Aplazame Checkout</title>
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <style type="text/css" rel="stylesheet">
    .canvas {
      opacity: 0;
    }
  </style>
  <link type="text/css" rel="stylesheet" href="widgets/modal/modal.css"/>

</head>

  <body class="shown">
    <div class="canvas h-valign">
      <div class="container p-rel">

        <div class="box t-base p-rel">

          <div class="img-wrapper">
            <img src="widgets/assets/img/info-lg.svg"/>
          </div>
          <div class="box-title"><%= title %></div>
          <p><%= message %></p>

        </div>

      </div>
    </div>
    <div class="close-checkout">
      <a href="javascript:;">
        <span>✖</span>
      </a>
    </div>

    <script type="text/javascript" src="widgets/modal/modal.js"></script>
  </body>

</html>
