$height-header: 6rem

header.header
  background: darken($grey-dark, 10)
  height: $height-header
  padding: 0
  box-shadow: inset 0 -1rem 1rem -1rem rgba(0, 0, 0, 0.2)
  margin: 0
  text-align: center

  .logo-link
    text-decoration: none
    color: black
    font-size: 2rem
    height: $height-header
    color: white
    padding: 0 1rem
    display: table-cell
    vertical-align: middle
    text-shadow: 0 0 0.2rem black

    img
      vertical-align: -40%
      filter: drop-shadow(0 0 1px #000)

    .docs
      display: inline-block
      padding-left: 0.5rem
      font-size: 1.2em
