
.pay-with-aplazame
  margin-top: units(6)
  text-align: center

  button
    background: $color-brand
    color: white
    font-size: 2rem
    font-family: 'Gotham'
    padding: units(1) units(1.4)
    border: 1px solid darken($color-brand, 10)
    cursor: pointer
    text-shadow: 0 0 0.2rem rgba(black, 0.4)

    &:hover
      background: darken($color-brand, 5)

    &:active
      background: darken($color-brand, 10)

    img
      vertical-align: middle
      height: 2.5rem
      filter: drop-shadow(0 0 1px rgba(black, 0.5))
