
$height-header: 6rem
$footer-header: 5rem

@import 'ng-aplazame/styles/core'
@import 'ng-aplazame/styles/components/alert'
@import 'ng-aplazame/styles/components/input'
@import 'ng-aplazame/styles/drafts/merchants/table'

html, body
  margin: 0
  padding: 0

html
  font-size: $rem-size
  height: 100%

body
  font-size: 1.4rem // back to 14px
  min-height: 100%
  position: relative
  padding-bottom: $footer-header

a
  text-decoration: none
  color: darken($color-brand, 15)
  &:hover
    text-decoration: underline
  &:active
    color: darken($color-brand, 20)

hr
  border: 1px solid lighten($grey-medium, 20)

.demo-input-wrapper
  font-size: 1rem
  position: relative

.demo-input
  background: transparent
  display: block
  width: 100%
  line-height: 4rem
  padding: 0 units(2)
  outline: 0
  border-bottom: 1px solid $grey-medium
  font-size: 2rem
  color: $color-brand

  &:focus
    border-color: $color-brand

  &::-webkit-outer-spin-button, &::-webkit-inner-spin-button
      /* display: none; <- Crashes Chrome on hover */
      -webkit-appearance: none
      margin: 0 // <-- Apparently some margin are still there even though it's hidden

.demo-input-currency
  @include absolute(right)
  margin: auto
  font-size: 2em
  height: 1em
  color: $color-brand

  & + .demo-input
    text-align: right
    padding-right: 1.5em


.demo-btn
  border: 0
  line-height: 4rem
  @include background-active($color-brand)
  width: 100%
  font-size: 2rem
  color: white
  cursor: pointer

.inline-block
  display: inline-block

.demo-simulator-results

  .loading
    font-size: 1.4em
    text-align: center

table.table
  &.demo-table
    th, td
      font-size: 1.6rem

  th, td
    &.demo-column-instalments, &.demo-column-tae, &.demo-column-amount
      text-align: center

  td.demo-column-tae
    font-size: 0.9em
    color: $grey-dark

  td.demo-column-instalments
    .months
      color: $grey-dark

  td.demo-column-amount
    .currency
      color: $grey-dark

    .per-month
      vertical-align: bottom
      font-size: 0.8em
      color: $grey-medium


// header.header
//   height: 5rem
//   background: $color-brand
//   box-shadow: inset 0 -1rem 1rem -1rem rgba(0, 0, 0, 0.2)

.sections > section.container
  margin-top: units(3)

.sections
  margin-bottom: units(4)

@import header

footer.footer
  @include absolute(bottom)
  color: white
  background: $grey-dark
  line-height: 5rem
  font-size: 1.5rem
  height: $footer-header

  .demo-footer-link
    color: white
    border-bottom: 1px dotted $grey-light
    &:hover
      text-decoration: none
      border-bottom-style: solid

@import cart-list
@import article-sample
@import pay-with-aplazame
